<form action="{{ path('book_read') }}" method="POST">
    <div>
        <label for="book_id">Livre</label>
        <select name="book_id" id="book_id">
            {% for book in books %}
                <option value="{{ book.id }}">{{ book.name }}</option>
            {% endfor %}
        </select>
    </div>

    <div>
        <label for="description">Description</label>
        <textarea name="description" id="description" placeholder="Entrez une description"></textarea>
    </div>

    <div>
        <label for="rating">Note</label>
        <input type="number" name="rating" id="rating" min="1" max="5" step="0.1" placeholder="Donnez une note de 1 à 5">
    </div>

    <div>
        <label for="is_read">Livre lu ?</label>
        <input type="checkbox" name="is_read" id="is_read" value="1">
    </div>

    <button type="submit">Enregistrer la lecture</button>
</form>
